@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSerifPro-Regular'),
         url('/fonts/OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('/fonts/SVG/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSerifPro-Semibold'),
         url('/fonts/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
         url('/fonts/SVG/SourceSerifPro-Semibold.svg#SourceSerifPro-Semibold') format('svg');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSerifPro-Bold'),
         url('/fonts/OTF/SourceSerifPro-Bold.otf') format('opentype'),
         url('/fonts/SVG/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
}

h1, h2, h3, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #009BC5;
}

h1 {
    font-weight: 600;
    font-size: 1.7 em;
}

h2 {
    font-weight: 400;
    font-size: 1.5 em;
}

h3 {
    font-weight: 300;
    font-size: 1.3 em;
}


body {
    font-family: 'Source Serif Pro', serif;
    width: 925px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 0px;
}

a:link, a:visited {
    color: #009BC5;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

img {
    display: block;
    margin: 0px auto;
}


article {
    margin: 0px;
}

table {
   border-spacing: 3px 3px;
   margin: auto;
}

td {
   background-color: #f4f4f4;
   padding: 7px 4px 7px 4px;

}

th {
   color: white;
   padding: 10px 25px 10px 25px;
   background-color: #303030;
   background-color: #009BC5;
}

pre {
   padding: 15px;
   margin: 20px;
   background-color: #f4f4f4;
   border-radius: 2px;
}
