@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSerifPro-Regular'),
         url('/fonts/OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('/fonts/SVG/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSerifPro-Semibold'),
         url('/fonts/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
         url('/fonts/SVG/SourceSerifPro-Semibold.svg#SourceSerifPro-Semibold') format('svg');
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSerifPro-Bold'),
         url('/fonts/OTF/SourceSerifPro-Bold.otf') format('opentype'),
         url('/fonts/SVG/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
}

h1, h2, h3, h5, h6 {font-family: 'Source Sans Pro', sans-serif;}

body {font-family: 'Source Serif Pro', serif;}

.imagealignright {
    float: right;
}

.imagealignleft {
    float: left;
}

aside {
  float: left;
  width: 200px;
  left: 0px;   
  margin: 0px;
  padding: 0px;
}

article {
  width: 725px;
  left: 200px;
  margin: 0px;
  padding: 0px;
}

footer {
}
